<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>This will redirect</title>
			<!-- The following script directive is included for your convenience -->
			<!-- socialize.js script should only be included once -->
			<script type="text/javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=2_Y82PzwJ_chSFImHXaIDJClnLyJzmk-VFOavSsaNTzl6m901s_NNxRAS0xJ3bd3_N"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/static/shared.js"></script>

	</head>
	<body>
<script>

gigya.socialize.getUserInfo({callback:checkIfLoggedIn});
</script>
	</body>
</html>
